:root {
    --white: #fff;
    --black: #222;
    --primary: #f3a0c0;
    --grey: #888;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--black);
    background: linear-gradient(to left, #f1bfca , #acecf1);
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
  }
  
  .Lriyu {
    display: none;
  }
  
  .menu .top {
    display: none;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primary);
    padding: 1.3rem 5rem;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
    margin-top: 1.5rem;
  }
  
  
  .section {
    padding: 1rem 22 0 0;
    text-align: center;
  }
  
  .product-center {
      display: flex;
      flex-wrap: wrap;
      background-color: rgba(255, 254, 254, 0);
  }
  
  .product {
      text-align: center;
      padding-bottom: 1rem;
      transition: all 500ms ease-in-out;
  }
  
  .product:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .product .img-cover {
    overflow: hidden;
  }
  
  .product img {
    transition: all 500ms ease-in-out;
  }
  
  .product:hover img {
    transform: scale(1.2);
  }
  
  .btn {
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
  }
  
  .btn-primary {
      color: rgb(255, 255, 255);
      border: none;
      font-weight: bold;
  }
  
  .btn-primary:hover {
      background-color: #2D9CDB;
  }
  
  .select.display {
      top: 10px;
  }
  


h2{
    width: 3%;
    position: relative;
    top: 60px;
    left: 90%;
    cursor: pointer;
}
h2:before {
    content: attr(data-count);
    position: absolute;
    color: white;   
    right: 16px;
    font-size: 15px;
    text-align: center;
    top: -12px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    opacity: 0;
}

h2.zero:before {
    opacity: 1;
}

section {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}

section div span {
    position: absolute;
    top: 14px;
    left: 13px;
    width: 300px;
    height: 186px;
    display: none;
}
section div span img {
    width: 100%;
    height: 100%;
}

.select {
  width: 60%;
  height: 580px;
  background: #222;
  position: absolute;
  top: -1000px;
  left: 20%;
  transition: 0.5s;
  overflow-y: auto;
  margin: auto;
}

.select.display {
  top: 10px;
}

.select div {
  width: 100%;
  height: 200px;
  display: flex;  
  padding: 5px;
  border: 1px solid rgb(243, 242, 242);
  position: relative;
  margin: 5px auto;
}

.select div img {
  width: 300px;
  height: 100%;
}

.select div p{
  padding: 35px;
  color: white;
}
.select div h4, 
.select div button{
  position: absolute;
  left: 45%;
  top: 50%;
  color: white;
}

.select div button {
    left: 60%;
    top: 55%;
}

.select div span {
 display: none;
}
